body{
margin:0;
font-family:Segoe UI,sans-serif;
}

.navbar{
background:#0f172a;
padding:15px;
color:white;
}

.hero{

height:100vh;

background:
linear-gradient(
rgba(0,0,0,.5),
rgba(0,0,0,.5)
),
url('https://images.unsplash.com/photo-1446776811953-b23d57bd21aa');

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

color:white;
text-align:center;
}

.hero h1{
font-size:60px;
}

.btn{

background:#22c55e;

padding:15px 25px;

color:white;

text-decoration:none;

border-radius:10px;
}
