body{
margin:0;
font-family:Segoe UI,sans-serif;
}

.navbar{
background:#0f172a;
padding:15px;
color:white;
}

.hero{

height:100vh;

background:
linear-gradient(
rgba(0,0,0,.5),
rgba(0,0,0,.5)
),
url('https://images.unsplash.com/photo-1446776811953-b23d57bd21aa');

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

color:white;
text-align:center;
}

.hero h1{
font-size:60px;
}

.btn{

background:#22c55e;

padding:15px 25px;

color:white;

text-decoration:none;

border-radius:10px;
}

.filter-box{

background:white;

padding:20px;

border-radius:10px;

margin-bottom:20px;

box-shadow:
0 2px 10px rgba(0,0,0,.1);
}

.filter-box select{

padding:10px;

margin-right:10px;

border-radius:5px;
}

.filter-box button{

padding:10px 15px;

background:#22c55e;

color:white;

border:none;

border-radius:5px;

cursor:pointer;
}

table{

width:100%;

border-collapse:collapse;
}

th,td{

border:1px solid #ddd;

padding:10px;

text-align:center;
}

th{
background:#e2e8f0;
}
